#title Rockr
= link_to('New Venue', venues_new_path, :remote => true, :class => 'links')
.clear= link_to('New Concert', concerts_new_path, :remote => true, :class => 'links')
#form
#results
  = render :partial => 'index'
